p {
        color: green;
    }
	
	h1 {
        color: gray;
    }
	
	h2 {
        color: purple;
    }
	
	h3 {
        color: lime;
    }
	
	table {
        color: yellow;
    }
	
	ul {
        color: red;
    }

    a {
        color: blue;
    }